<div class="contact">
    <h4>Contact Us</h4>
    <p>1.555.678.9876</p>
    <p>contact@theblueleopa.rd</p>
    <p>&copy; @DateTime.Now.Year - Leopard</p>
</div>

<div class="social">
    <a href="https://www.facebook.com/"><img src="/images/facebook.png" alt="facebook"></a>
    <a href="https://www.instagram.com/"><img src="/images/instagram.png" alt="instagram"></a>
    <a href="https://vk.com/"><img src="/images/vkontakte.png" alt="vk"></a>
</div>

