<a href="@Url.Action("Index", "Home")" class="logo"><img src="/images/logo.png" alt="Blue Leopard logo"></a>
<nav class="main-navigation">
    <ul>
        <li> @Html.ActionLink("Home", "Index", "Home") </li>
        <li> @Html.ActionLink("Menu", "Menu", "Home")</li>
        <li> @Html.ActionLink("Location & Hours", "Location", "Home")</li>
    </ul>
</nav>
